* {
    /* background-color:#d2ebe9; */
    margin-inline: #bed6d5;
}

body {
    margin: 0;
    background-color:#424747;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.head1 {
    font-family: 'Playfair Display', serif;
    color: white;
    text-align: left;
    background-color: #4b636e;
    top: 0;
    text-align: center;
    /* padding-left:350px; */
    padding-top: 15px;
    margin: 24px 24px 0 24px;
    border-radius: 0.5rem 0.5rem 0 0;
}

.head2 {
    position: -webkit-sticky;
    position: sticky;
    font-family: 'Playfair Display', serif;
    color: white;
    text-align: center;
    background-color: #4b636e;
    border-radius: 0 0 0.5rem 0.5rem;
    top: 0;
    padding: 6px 0 6px 0;
    margin: 0 24px 0 24px;
}


#profile, #project {
    font-family: 'Lora', serif;
    background-color:#def1f0;
    padding: 0 40px 0 40px;
    border: 6px solid #4b636e;
    border-radius: 0.5rem;
    margin: 24px;
    padding-bottom: 15px;
}

#profile {
    text-align: left;
}

#project {
    text-align: center;
    margin-bottom: 10px;
}

.title {
    color: #338376;
    text-align:center;
}

img {
    border-radius: 7px;
}
.tutorial {
    margin: 15px;
}

#bottom {
    font-family: 'Anton', sans-serif;
    color:rgb(206, 206, 206);
    text-align: center;
    margin: 10px;
    bottom: 0;
}